<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:auditorium.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode" value="2"/>
    </bean>

    <bean id="beanFactory"
          class="com.epam.edu.spring.core.homework.HomeworkApplication"
          factory-method="beanFactory"/>

    <bean id="userService" class="com.epam.edu.spring.core.homework.service.UserServiceImpl">
        <constructor-arg ref="beanFactory"/>
    </bean>

    <bean id="eventService" class="com.epam.edu.spring.core.homework.service.EventServiceImpl">
        <constructor-arg ref="beanFactory"/>
    </bean>

    <bean id="auditoriumService" class="com.epam.edu.spring.core.homework.service.AuditoriumServiceImpl">
        <constructor-arg>
            <list>
                <ref bean="auditorium1"/>
                <ref bean="auditorium2"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="auditorium1" class="com.epam.edu.spring.core.homework.domain.Auditorium">
        <constructor-arg value="${a1.name}"/>
        <constructor-arg value="${a1.seats}"/>
    </bean>

    <bean id="auditorium2" class="com.epam.edu.spring.core.homework.domain.Auditorium">
        <constructor-arg value="${a2.name}"/>
        <constructor-arg value="${a2.seats}"/>
    </bean>


    <bean id="user" class="com.epam.edu.spring.core.homework.domain.User" scope="prototype"/>
    <bean id="event" class="com.epam.edu.spring.core.homework.domain.Event" scope="prototype"/>

    <!--<import resource="shell.xml"/>-->



    <!---->
    <!--<bean id="client" class="com.epam.edu.spring.core.Client"-->
          <!--c:fullName="${name}"-->
          <!--c:id="${id}"-->
          <!--p:greeting="${greeting}"-->
    <!--/>-->
    <!--<bean id="client" class="com.epam.edu.spring.core.Client">-->
    <!--<property name="greeting" value="${greeting}" />-->
    <!--<constructor-arg value="${id}"/>-->
    <!--<constructor-arg value="${name}"/>-->
    <!--</bean>-->

    <!--<util:map id="loggerMap"> &lt;!&ndash;bean can be reused&ndash;&gt;-->
        <!--<entry key="INFO" value-ref="consoleEventLogger"/>-->
        <!--<entry key="ERROR" value-ref="combinedEventLogger"/>-->
    <!--</util:map>-->

    <!--<bean id="app" class="com.epam.edu.spring.core.App"-->
          <!--c:client-ref="client"-->
          <!--c:defaultLogger-ref="cacheFileEventLogger"-->
          <!--c:eventTypeLoggers-ref="loggerMap"-->
    <!--/>-->

    <!--<bean id="app" class="com.epam.edu.spring.core.App">-->
    <!--<constructor-arg ref="client"/>-->
    <!--<constructor-arg name="defaultLogger" ref="cacheFileEventLogger"/>-->
    <!--<constructor-arg>-->
    <!--<map>-->
    <!--<entry key="INFO" value-ref="consoleEventLogger"/>-->
    <!--<entry key="ERROR" value-ref="combinedEventLogger"/>-->
    <!--</map>-->
    <!--</constructor-arg>-->
    <!--</bean>-->

</beans>